/*for limiwu.com*/
body{
	background-color:#f8f8f8;
}
.post-list{
	background-color:#f8f8f8;
	border-color: #fff;
}
.post-box{
	background-color: #000;
	border-color: #fff;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	-o-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.cat{
	background: #428bca;
}
.cat>a,
.cat>a:hover,
.cat>a:visited,
.cat>a:active{
	color: #fff;
}
.tim>a{
	color: #fff;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.tit{
	background-color: rgba(0,0,0,0.2);
}
.post-box:hover .tit{
	background-color: rgba(0,0,0,0.5);
}
.tit>p>a{
	color:#eee;
}
.tit>hr{
	border:none;
	border-top:2px dotted #ddd;
}
.tit>h3{
	background-color: rgba(0,0,0,0.15);
}
.post-box:hover .tit h3{
	background-color:rgba(0,0,0,0);
}
.tit>h3>a{
	color:rgb(243, 237, 115);
}