/*for limiwu.com*/
body{
	background-color:#f8f8f8;
}
.post-list{
	background-color:#f8f8f8;
	border-color: #000;
}
.post-box{
	background-color: #eee;
	border-color: #fff;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	-o-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.cat{
	background-color: #428bca;
}
.top-box .cat{
	background-color: #c9302c;
}
.cat>a,
.cat>a:hover,
.cat>a:visited,
.cat>a:active{
	color: #fff;
}
.tim>a{
	color: #fff;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.tit{
	background-color: rgba(0,0,0,0.25);
}
.post-box:hover .tit{
	background-color: rgba(0,0,0,0.6);
}
.tit>p>a{
	color:#ddd;
}
.tit>hr{
	border:none;
	border-top:2px dotted #ccc;
}
.tit>h3{
	background-color: rgba(0,0,0,0.2);
}
.top-box .tit>h3{
	background-color: rgba(0,0,0,0.5);
}
.post-box:hover .tit h3{
	background-color:rgba(0,0,0,0);
}
.tit>h3>a{
	color:rgb(255, 255, 255);
}
.post-box:hover .tit>h3>a{
	color:rgb(251, 248, 0);
}
.bottom{
	background-color:#428bca;
}
.bottom-div{
	color: #fff;
}
.bottom-a,
.bottom-a:hover,
.bottom-a:link,
.bottom-a:visited,
.bottom-a:active{
	color:rgb(251, 248, 0);
}
.footer{
    background-color: #eee;   
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);   
    background-size: 6px 6px;
    color: #555;
}
.footer a{
	color: #777;
}
@media (max-width: 749px){
	.footer h5{
		border-top: 1px dotted rgb(200, 200, 200);
	}
}