/*for limiwu.com*/
@import url(color.css);

body{
	padding-top:70px;
	font-family:"微软雅黑","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.cat>a:hover,
.tit>p>a:hover,
.tit>h3>a:hover,
.tim>a{
	text-decoration: none;
}
.post-box,
.post-box:hover,
.post-box .tim,
.post-box:hover .tim,
.tit p,
.tit p:hover,
.tit hr,
.tit hr:hover,
.post-box .tit,
.post-box:hover .tit,
.post-box .tit h3,
.post-box:hover .tit h3{
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	-ms-transition: all .8s;
	-o-transition: all .8s;
	transition: all .8s;
}

.post-list{
	padding:0px;
}
.post-box{
	margin:1.5%;
	min-width:93%;
	height: 240px;
	overflow: hidden;
	border-style:solid;
	border-width:6px;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}
.cat{
	position: relative;
	float: right;
	padding: 2px 5px;
	margin-right:-66px;
	margin-top: 6px;
	overflow: hidden;
	text-transform: uppercase;
	max-width: 208px;
	max-height: 24px;
	z-index: 10;
}
.tim{
	position: relative;
	float: right;
	font-size: 28px;
	font-weight: bold;
	line-height:30px;
	margin-top:30px;
	padding: 5px;
	text-align: right;
	text-transform: uppercase;
	width:73px;
	z-index: 29;
	filter:alpha(Opacity=0);
	-moz-opacity:0;
	opacity: 0;
}
.post-box:hover .tim{
	filter:alpha(Opacity=100);
	-moz-opacity:1;
	opacity:1;
}
.tit{
	padding:130px 0px 5px;
	height: 240px;
}
.tit hr{
	margin:5px 10px;
	padding: 0px;
}
.tit>p{
	margin: 0;
	padding-left:10px;
	padding-right:10px;
	height: 34px;
	line-height: 18px;
	overflow: hidden;
	text-indent: 2em;
}
.tit p,
.tit hr{
	filter:alpha(Opacity=0);
	-moz-opacity:0;
	opacity: 0;
}
.post-box:hover .tit p,
.post-box:hover .tit hr{
	filter:alpha(Opacity=100);
	-moz-opacity:1;
	opacity: 1;
}
.tit>h3{
	font-size: 18px;
	margin-top: 5px;
	padding-left:10px;
	padding-right:10px;
	overflow: hidden;
	height: 48px;
	line-height: 24px;
	text-align: right;
}