/*for limiwu.com*/
@import url(color.css);

body{
	padding-top:70px;
	font-family:"微软雅黑","Helvetica Neue",Helvetica,Arial,sans-serif;
}
@media (max-width: 749px){
	body{
		padding-top:55px;
	}
}
.cat>a:hover,
.tit>p>a:hover,
.tit>h3>a:hover,
.tim>a{
	text-decoration: none;
}
.post-box,
.post-box:hover,
.post-box .tim,
.post-box:hover .tim,
.tit p,
.tit p:hover,
.tit hr,
.tit hr:hover,
.post-box .tit,
.post-box:hover .tit,
.post-box .tit h3,
.post-box:hover .tit h3,
.post-box .tit>h3>a,
.post-box:hover .tit>h3>a{
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	-ms-transition: all .8s;
	-o-transition: all .8s;
	transition: all .8s;
}
.body{
	padding-bottom: 20px;
}
.post-list{
	padding:5px;
}
.top-box,
.post-box{
	height: 240px;
	overflow: hidden;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}
.post-box{
	border-style:solid;
	border-width:6px;
}
.cat{
	position: relative;
	float: right;
	padding: 2px 5px;
	margin-right:-66px;
	margin-top: 6px;
	overflow: hidden;
	text-transform: uppercase;
	max-width: 208px;
	max-height: 24px;
	z-index: 10;
}
.tim{
	position: relative;
	float: right;
	font-size: 28px;
	font-weight: bold;
	line-height:30px;
	margin-top:30px;
	padding: 5px;
	text-align: right;
	text-transform: uppercase;
	width:73px;
	z-index: 29;
	filter:alpha(Opacity=0);
	-moz-opacity:0;
	opacity: 0;
}
.post-box:hover .tim{
	filter:alpha(Opacity=100);
	-moz-opacity:1;
	opacity:1;
}
.tit{
	padding:130px 0px 5px;
	height: 240px;
}
.tit hr{
	margin:5px 10px;
	padding: 0px;
}
.tit>p{
	margin: 0;
	padding-left:10px;
	padding-right:10px;
	height: 34px;
	line-height: 18px;
	overflow: hidden;
	text-indent: 2em;
}
.tit p,
.tit hr{
	filter:alpha(Opacity=0);
	-moz-opacity:0;
	opacity: 0;
}
.post-box:hover .tit p,
.post-box:hover .tit hr{
	filter:alpha(Opacity=100);
	-moz-opacity:1;
	opacity: 1;
}
.tit>h3{
	font-size: 18px;
	margin-top: 5px;
	padding-left:10px;
	padding-right:10px;
	overflow: hidden;
	height: 60px;
	line-height: 24px;
	text-align: right;
}
.top-box .tit>h3{
	text-align:left;
	padding-left:30px;
	padding-right:30px;
	padding-top:5px;
}
.bottom>div{
	padding-top: 18px;
	padding-bottom: 12px;
}
.bottom-div p{
	font-size: 2.5rem;
}
@media (max-width: 749px) {
	.bottom-div p{
		font-size:16px;
		text-align: center;
	}
	.bottom>div{
	padding-top: 10px;
	padding-bottom: 12px;
	}
}
.bottom-a{
	margin-left:.2em;
	margin-right:.2em;
}
.bdsharebuttonbox{
	max-width: 304px;
	margin: 0px auto;
}
.weixin-share-p{
	margin-top: 10px;
}
.bottom-div .btn{
	width: 33.333333%;
}
.footer{
	padding-top: 15px;
	padding-bottom: 15px;
}
@media (max-width: 749px){
	.footer{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.footer h5{
		padding-top: 5px;
	}
}
.footer-list ul{
	list-style: none;
	padding: 0px;
}
@media (max-width: 749px){
	.footer-list{
		margin-right: -30px;
		margin-left: -30px;
	}
	.footer-list>ul li{
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	}
}
.footer-list p{
	margin: 0px;
}
/*single*/
.search-box{
	margin-top: 15px;
}
.breadcrumb{
	margin: 0px;
	padding: 2px 0px;
}
.single-body{
	margin-bottom: 10px;
}
.single-nav{
	margin-bottom: 5px;
}
.single-box{
	padding: 5px;
}
.single-left,
.single-right{
	padding: 20px;
}
@media (max-width: 749px){
	.single-box{
		padding: 5px 0px;
	}
	.single-left,
	.single-right{
		padding:10px;
	}
}
.single-left>h1{
	font-size: 24px;
	font-weight: bolder;
	margin: 0 0 20px 0;
	line-height: 30px;
	text-align: center;
}
.Subtitle{
	margin-top:-5px;
	margin-bottom: 20px;
	font-size: 14px;
}
.time{
	font-size: 14px;
	text-align: center;
}
@media (max-width: 749px){
	.single-left>h1,
	.time{
	text-align:left;
	}
	.single-left>h1{
	font-size: 20px;
	font-weight: 500;
	margin: 0 0 10px 0;
	}
}
.time{
	padding-bottom:18px;
	margin-bottom: 18px;
}
.single-left p,
.single-left li{
	font-size: 16px;
	line-height: 28px;
}
.single-left ul p,
.single-left ol p{
	margin: 0;
}
.single-left img{
	display: block;
	max-width: 100%;
	height: auto;
}
.flip{
	padding:10px auto;
	margin:30px auto;
}
.next-pre-text{
	margin: 0px;
}
.next-pre-text a:hover,
.next-pre-text a:focus{
	text-decoration: none;
}
.more-share{
	margin-top: 15px;
}